<div class="row">
    <div class="col-sm">
        <app-sidanav></app-sidanav>
    </div>
    <div class="col-sm-2">
        <div class="card">
            <div class="card-header">
                <div class="home-content separador">
                    <i class='bx bx-menu' (click)="isExpanded = !isExpanded"></i>
                    <span class="text">CTS Inventario</span>
                </div>
                <!-- Terminacion de card header -->
                <div class="separador ajustador">
                    <hr width=95% align="right" size=4 noshade="noshade">
                    <div class="separador">
                        <p>dashboard > Inventary</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="home-section bord">
                    <div class="row home-content2 separador">
                        <div class="mb-2">
                            <input type="submit" class="btn btn-primary" value="Importar">
                            <input type="submit" class="btn btn-primary" value="Exportar">
                        </div>
                        <app-datatable></app-datatable>
                    </div>
                </div>
            </div>
            <!-- Terminacion de card Body -->
        </div>
    </div>
</div>