// header y contenido del mostrador de componentes
.home-content2 {
    height: 500px;
    width: 98%;
    margin: 0px auto;
}

.bord {
    border-radius: 20px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    top: 0;
    padding: 0;
}