<div class="container">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Puesto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of datos; let i=index">
                <td>{{ post.id }}</td>
                <td>{{ post.employee_name }}</td>
                <td>{{ post.employee_salary }}</td>
                <!-- <td>
                    <form class="form-group">
                        <button class="btn btn-primary m-1">Editar</button>
                        <button class="btn btn-danger ">Eliminar</button>
                    </form>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>