<ng-template #agregar>

</ng-template>

<div class="container">
    <div>
        <button class="btn btn-primary">Agregar Ususraio</button>
        <button class="btn "><span class="glyphicon glyphicon-save"></span></button>
        <button class="btn "><span class="glyphicon glyphicon-align-left"></span></button>
        <button class="btn "><span class="glyphicon glyphicon-align-left"></span></button>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="">
            </a>
        </div>
    </div>
    <div>
        <app-datatable></app-datatable>
    </div>

</div>